* {
  margin: 0px;
  padding: 0px;
}

.top-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.profile-left-container,
.profile-right-container {
  width: 100%;
  height: 100%;
}

.profile-left-container {
  background-color: #FFF380;
}

.profile-right-container {
  background-color: #C4D7E5;
}

.profile-details-container {
  position: absolute;
  top: 10%;
  right: 10%;
  bottom: 10%;
  left: 10%;
  box-shadow: 0 0 10px gray;
  display: flex;
  flex-direction: column;
}

.profile-header-top {
  background-color: #52ab98;
  width: 100%;
  height: 10%;
  padding-left: 16px;
  display: flex;
  flex-direction: row;
  margin-right: auto;
  margin-left: auto;
}

.profile-header-top div p {
  color: #fffbf0;
  font-size: 14px;
  padding-left: 2px;
}

.profile-header-top div h3 {
  color: #fffbf0;
  font-size: 20px;
  padding-top: 8px;
}

.profile-header-description {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90%;
}

.profile-image-container {
  background-color: white;
  width: 50%;
  height: 100%;
  text-align: center;
  display: flex;
}

.profile-image-container img {
  width: 50%;
  height: auto;
  margin: auto;
}

.profile-header-top-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: auto;
  gap: 40px;
  padding-right: 30px;
  margin-top: 1%;
}

.profile-header-top-left {
  justify-content: flex-start;
}

.profile-header-description-detail {
  width: 50%;
  display: flex;
  height: 100%;
  position: relative;
}

.profile-header-description-detail,
.profile-header-skill-detail {
  width: 50%;
  height: 100%;
  position: relative;
}

.profile-info-container {
  display: flex;
  flex-direction: column;
  margin: 0%;
  margin-left: 10%;
  margin-right: 10%;
}

.profile-info-container .small-intro {
  text-align: center;
  margin-top: 10%;
  position: relative;
}

.skill-description {
  margin-top: 10%;
  height: 100%;
}

.skill-description .skill-box {
  margin-top: 5%;
}

.skill-description .skill {
  margin-top: 2%;
  margin-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

.skill-level-html {
  background-color: #FFC0CB;
  box-sizing: border-box;
  border: 1px solid #52ab98;
  border-radius: 3px;
  height: 8px;
  -webkit-animation: progresshtml 3s normal forwards;
          animation: progresshtml 3s normal forwards;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 0.1);
}

.skill-level-css {
  background-color: #FFC0CB;
  box-sizing: border-box;
  border: 1px solid #52ab98;
  border-radius: 3px;
  height: 8px;
  -webkit-animation: progresscss 3s normal forwards;
          animation: progresscss 3s normal forwards;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 0.1);
}

.skill-level-js {
  background-color: #FFC0CB;
  box-sizing: border-box;
  border: 1px solid #52ab98;
  border-radius: 3px;
  height: 8px;
  -webkit-animation: progressjs 3s normal forwards;
          animation: progressjs 3s normal forwards;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 0.1);
}

.skill-level-xamarin {
  background-color: #FFC0CB;
  box-sizing: border-box;
  border: 1px solid #52ab98;
  border-radius: 3px;
  height: 8px;
  -webkit-animation: progressxm 3s normal forwards;
          animation: progressxm 3s normal forwards;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 0.1);
}

.skill-level-native {
  background-color: #FFC0CB;
  box-sizing: border-box;
  border: 1px solid #52ab98;
  border-radius: 3px;
  height: 8px;
  -webkit-animation: progressnative 3s normal forwards;
          animation: progressnative 3s normal forwards;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 0.1);
}

@-webkit-keyframes progresshtml {
  0% {
    width: 0;
  }
  100% {
    width: 85%;
  }
}

@keyframes progresshtml {
  0% {
    width: 0;
  }
  100% {
    width: 85%;
  }
}
@-webkit-keyframes progresscss {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}
@keyframes progresscss {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}
@-webkit-keyframes progressjs {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}
@keyframes progressjs {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}
@-webkit-keyframes progressxm {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
@keyframes progressxm {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
@-webkit-keyframes progressnative {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
@keyframes progressnative {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
.profile-header-top-right span {
  border-top: 3px solid #fffbf0;
}

.profile-header-top-right span:active {
  border-top: 3px solid #000;
}

#profile-skill {
  display: none;
}

.profile-skill-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-skill-container img {
  width: 80%;
  height: auto;
  margin-bottom: 20px;
}

.fa {
  padding: 15px;
  font-size: 30px;
  width: 5px;
  height: 5px;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */
/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-linkedin {
  background: #55ACEE;
  color: white;
}

.fa-github {
  background: #000;
  color: white;
}/*# sourceMappingURL=portfolio.css.map */